html,
body {
	height: 100%;
	font-family: 'Fira Sans', sans-serif;
}

.presentation,
.slides {
	width: 100%;
	height: 100%;
}

.slide {
	padding: 5% 10%;
	width: 80%;
	height: 90%;
}

.presentation,
.slide {
	position: relative;
}

.slide-number {
	position: absolute;
	top: 0;
	right: 5%;
}

.controlButtons {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

.controlButtons a {
	text-decoration: none;
	padding: 2em 0.5em;
}
