html,
body {
	height: 100%;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
}

h1 {
	color: #d30134;
	font-size: 3em;
}

h2 {
	color: #d30134;
	font-size: 2em;
}

pre {
	font-size: 1.5em;
}

.presentation,
.slides {
	width: 100%;
	height: 100%;
}

.slide {
	padding: 5% 10%;
	width: 80%;
	height: 90%;
}

.presentation,
.slide {
	position: relative;
}

.slide-number {
	position: absolute;
	top: 0;
	right: 5%;
}

.controlButtons {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

.controlButtons a {
	text-decoration: none;
	padding: 2em 0.5em;
}

.controlButtons input {
	width: 4em;
	text-align: right;
	font-size: 0.95em;
	border: none;
}

.op {
	color: blue;
}

.big {
	font-size: 3em;
	text-align: center;
	padding-top: 3em;
}
.center {
	text-align: center;
}
